<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" stopOnWarning="false" stopOnFailure="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">Feedbacks/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Feedback Validation Test Suit">
      <directory>app/tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
